/* Profile*/
.container {
    background-color: honeydew;
    text-align: left;
}
.profile-head {
    margin-top: 1px;
    padding: 5px 50px 15px;
    background-color: #af9a5f;
}

.profile-head img {
    height: 250px;
    width: 250px;
    border-radius: 20%;
    margin-top: 10px;
}

.nav-menu li a {
    margin: 5px 0px 0px 0px;
}

.img-icon .edit-icon {
    display: none;
    width: 250px !important;
    line-height: 40px;
    margin: 0 auto;
    padding: 0;
}
.img-icon:hover a.edit-icon {
    display: block;
    margin-top: -40px;
    z-index: 9999;
}

.profile-content {
    margin-top: 5px;
}

.block {
    margin-top: 10px;
    border: 1px solid #5bc0de;
    padding: 5px 20px 5px;
}
/*edit-form users*/
.form-edit {
    width: 50% !important;
    margin: 25px auto;
}

/* Close users */