.navbar-static-top {
    margin-bottom: 20px;
}

i {
    font-size: 16px;
}

.nav > li > a {
    color: #787878;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #efefef;
}

/* count indicator near icons */
.nav > li .count {
    position: absolute;
    bottom: 12px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    background: rgba(51, 200, 51, 0.55);
    color: rgba(255, 255, 255, 0.9);
    line-height: 1em;
    padding: 2px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
    margin-left: 10px;
    padding: 8px;
}

.navbar-arrow > ul > li .arrow-indicator {
    margin-left: 7px;
    color: #CCC;
}

.form-edit {
    background: #337ab7;
}

.admin_form_1 {
    margin-left: -170px;
}

.admin_form_v2 {
    background-color: cadetblue !important;
}

.admin_black {
    background-color: #0b0b0b;
}

.admin_blue {
    background-color: #1da1f2;
}

.admin_white {
    background-color: white;
}

.admin_red {
    background-color: #990000;
}

.admin-produce {
    margin-left: 528px;
}

.admin-sua-css {
    margin-left: 182px;
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 30%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
    height: 292px !important;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.admin-height-image {
    height: 360px !important;
}

.admin-cation {
    height: 104px;
}

.admin-height-image-2 {
    height: 360px !important;
}

.admin-head-1 {
    margin-left: 700px;
}

.nd-wrap {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

.nd-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.admin-form-color {
    color: #1ccacd;
}

.admin-danhgia {
    width: 20%
}
