.select-title {
    width: 25%;
    color: #007ba4;
    margin: 25px 500px 50px;
}

.select-title h2 {
    color: blue;
    font-size: larger;
    font-family: cursive;
    width: max-content;
    margin-left: -30px;
    text-transform: capitalize;
    transition: color 3s, font-size 4s;
    margin-bottom: 15px;
}

.boundary h3 {
    transition: color 3s, font-size 3s;
}
.select-title h2:hover, .boundary h3:hover {
    color: red;
    font-size: 160% ;
}

.boundary {
    margin-bottom: 30px;
    color: blue;
    font-size: larger;
    font-family: cursive;
    width: 100%;
    margin-left: -30px;
    text-transform: capitalize;
    transition: color 1s;
    margin-top: -15px;
    margin-left: -5px;
}

.design-content {
    background: url("/images/bg_costume.png") no-repeat fixed;
    background-size: 100% 100%;
    border: #af9a5f solid 7px;
}

.design-content img {
    width: 200px !important;
    height: 200px !important;
    border: solid 5px #8d8d8d;
}

.box-hat, .box-shoes, .box-pants {
    margin-top: 15px;
    margin-bottom: 10px;
}

.box-jewelry, .box-shoes {
    margin-left: 60px;
}

.box-accessories, .box-pants {
    margin-right: 150px;
}

.box-jewelry, .box-accessories {
    margin-top: -50px;
}

.information-costume {
    margin-top: 20px;
}

.information-costume h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: cursive;
    font-size: x-large;
    color: darkslategray;
}
#select {
    margin-top: -80px;
}
.modal .modal-footer {
    margin: 205px 15px 0px 0px;
}
.modal .modal-body {
    height: 580px;
    margin-bottom: -200px;
}
.modal .modal-header {
    padding: 10px 20px 0px;
}
.form-cus {
    float: left;
}
.form-cus button {
    margin: 40px 0px 0px 225px;
    font-size: 150%;
    width: 40%;
}
.form-cus .row-2 textarea {
    margin: 15px 0px 0px 50px;
}
.form-cus .row-2 label {
    margin-left: 50px;
    margin-right: -52px;
}
