.modal-image .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.modal-image .modal-body .modal-img {
    margin: 0 -15px;
}

.modal-image .modal-body .list-group {
    margin: 0px -15px;
}

.modal-image .modal-body .list-group .list-group-item {
    background-color: transparent;
}

.modal-image .modal-body .list-group .list-group-item:first-child {
    border-radius: 0;
}

.modal-image .modal-body .list-group .list-group-item:last-child {
    border: 0 none;
    border-radius: 0;
}

.cmt-modal-lg {
    width: 614px;
}

.h4 .comment-tittle {
    margin-bottom: -20px;
}

.modal-body .comment-body {
    height: 250px;
    width: 347px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.list-group .comment-button {
    margin-left: 475px;
}

.comment-color-h {
    padding: 3px 30px !important;
}

.comment-botron {
    border-radius: 5px 10px 4px;
}
